.details-container {
  padding: 30px;
  min-height: 100vh;
  background: #020617;
  color: white;
}

.details-container h2 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.category {
  color: #94a3b8;
}

.info-box {
  margin-top: 20px;
  background: #0f172a;
  padding: 20px;
  border-radius: 12px;
}

.call-btn {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background: #22c55e;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}
